 
 

h1
{
    font-size: 100;
}









#showplants
{
     
    border-radius: 10px;
    border: 10px solid rgb(191, 150, 214) ;
    height: 25;
   border-style:ridge;
}


#i.html
{
    background-image: -moz-linear-gradient( rgb(252,74,16)
      linear-gradient(180deg), rgba(252,74,16,1) 5%, rgba(253,161,12,1) 10%, rgba(253,222,14,1) 15%, rgba(245,254,10,1) 20%, rgba(168,255,0,1) 25%, rgba(18,255,0,1) 30%, rgba(0,251,113,1) 35%, rgba(16,238,180,1) 40%, rgba(0,254,255,1) 45%, rgba(69,252,216,1) 50%, rgba(0,185,244,1) 50%, rgba(9,136,244,1) 55%, rgba(0,68,247,1) 60%, rgba(55,0,255,1) 65%, rgba(119,0,255,1) 70%, rgba(205,0,255,1) 75%, rgba(252,0,255,1) 80%, rgba(251,0,204,1) 85%, rgba(255,0,74,1) 90%, rgba(255,0,53,1) 95%, rgba(255,0,0,1) 100%);
     
      


      background-color: -moz-linear-gradient( rgb(252,74,16)
      linear-gradient(180deg), rgba(252,74,16,1) 5%, rgba(253,161,12,1) 10%, rgba(253,222,14,1) 15%, rgba(245,254,10,1) 20%, rgba(168,255,0,1) 25%, rgba(18,255,0,1) 30%, rgba(0,251,113,1) 35%, rgba(16,238,180,1) 40%, rgba(0,254,255,1) 45%, rgba(69,252,216,1) 50%, rgba(0,185,244,1) 50%, rgba(9,136,244,1) 55%, rgba(0,68,247,1) 60%, rgba(55,0,255,1) 65%, rgba(119,0,255,1) 70%, rgba(205,0,255,1) 75%, rgba(252,0,255,1) 80%, rgba(251,0,204,1) 85%, rgba(255,0,74,1) 90%, rgba(255,0,53,1) 95%, rgba(255,0,0,1) 100%);;
}


 




